mdurl==0.1.2
julius==0.2.7
Jinja2==3.1.6
google-cloud-core==2.4.3
platformdirs==4.3.6
torchvision==0.12.0+cu113
httpcore==1.0.8
datasets==3.5.0
transformers==4.51.3
xxhash==3.5.0
librosa==0.10.2.post1
attrs==25.3.0
omegaconf==1.4.1
h11==0.14.0
requests==2.32.3
pyasn1==0.6.1
blinker==1.9.0
sounddevice==0.4.0
annotated-types==0.7.0
cachetools==5.5.2
nvidia-cusparse-cu12==12.5.4.2
charset-normalizer==3.4.1
torchaudio_contrib==0.1
orjson==3.10.16
einops==0.8.1
torch==1.11.0+cu113
scikit-image==0.19.3
s3transfer==0.11.4
google-cloud-storage==2.19.0
pyparsing==3.2.3
numba==0.61.0
llvmlite==0.44.0
packaging==24.2
hf-xet==1.1.0
fsspec==2024.12.0
pooch==1.8.2
nvidia-curand-cu12==10.3.7.77
tzdata==2025.2
pystoi==0.3.3
f5-tts==0.3.1
ema-pytorch==0.7.7
tensorboard-data-server==0.7.2
PinkBlack==0.0.9
aiohttp==3.11.16
httpx==0.28.1
cycler==0.12.1
wandb==0.19.9
fastapi==0.115.12
numpy==1.26.4
pycparser==2.22
nvidia-cufile-cu12==1.11.1.6
multiprocess==0.70.16
cffi==1.17.1
regex==2024.11.6
absl-py==2.2.1
scikit-learn==1.6.1
typing_extensions==4.12.2
propcache==0.3.1
websockets==14.2
torchdiffeq==0.2.5
nvidia-cusolver-cu12==11.7.1.2
grpcio==1.71.0
ffmpy==0.5.0
nvidia-nvjitlink-cu12==12.6.85
Flask==3.1.0
kiwisolver==1.4.8
decorator==5.2.1
typer==0.15.2
encodec==0.1.1
pillow==11.1.0
sympy==1.14.0
importlib_resources==6.5.2
x-transformers==2.2.11
threadpoolctl==3.5.0
sniffio==1.3.1
nvidia-cusparselt-cu12==0.6.3
tensorboardX==2.6.2.2
pydantic==2.11.3
gradio_client==1.7.0
antlr4-python3-runtime==4.9.3
matplotlib==3.10.1
pytz==2025.2
async-timeout==5.0.1
hydra-core==0.11.3
rich==13.9.4
cached_path==1.7.1
networkx==3.4.2
google-auth==2.39.0
pyarrow==19.0.1
joblib==1.4.2
torchaudio==0.11.0+cu113
typing-inspection==0.4.0
aiohappyeyeballs==2.6.1
denoiser==0.1.5
pypinyin==0.54.0
triton==3.3.0
backtrace==0.2.1
aiofiles==23.2.1
tifffile==2025.2.18
MarkupSafe==2.1.5
click==8.1.8
nvidia-cudnn-cu12==9.5.1.17
soundfile==0.13.1
transformers-stream-generator==0.0.5
nvidia-cufft-cu12==11.3.0.4
setproctitle==1.3.5
tensorboard==2.19.0
nvidia-nvtx-cu12==12.6.77
torchcontrib==0.0.2
exceptiongroup==1.2.2
Markdown==3.7
accelerate==1.6.0
proto-plus==1.26.1
mpmath==1.3.0
safetensors==0.5.3
colorlog==6.9.0
starlette==0.46.2
docker-pycreds==0.4.0
imageio==2.37.0
gitdb==4.0.12
wheel==0.45.1
tomlkit==0.13.2
python-dateutil==2.9.0.post0
urllib3==2.4.0
nltk==3.9.1
googleapis-common-protos==1.70.0
setuptools==78.1.0
frozendict==2.4.6
frozenlist==1.5.0
smmap==5.0.2
nvidia-nccl-cu12==2.26.2
gradio==5.14.0
contourpy==1.3.1
audioread==3.0.1
jieba==0.42.1
safehttpx==0.1.6
PyWavelets==1.8.0
vocos==0.1.0
markdown-it-py==3.0.0
multidict==6.4.3
pydantic_core==2.33.1
msgpack==1.1.0
bitsandbytes==0.45.5
anyio==4.9.0
pip==25.1.1
fonttools==4.57.0
nvidia-cuda-cupti-cu12==12.6.80
filelock==3.18.0
hydra-colorlog==0.1.4
sentry-sdk==2.26.0
pesq==0.0.5
lazy_loader==0.4
ruff==0.11.5
opencv-python==4.11.0.86
pyloudnorm==0.1.1
google-crc32c==1.7.1
dill==0.3.8
colorama==0.3.7
uvicorn==0.34.1
semantic-version==2.10.0
yarl==1.19.0
soxr==0.5.0.post1
huggingface-hub==0.31.1
botocore==1.37.34
google-resumable-media==2.7.2
tomli==2.2.1
nvidia-cuda-nvrtc-cu12==12.6.77
pydub==0.25.1
einx==0.3.0
pandas==2.2.3
tokenizers==0.21.1
shellingham==1.5.4
loguru==0.7.3
Werkzeug==3.1.3
boto3==1.37.34
itsdangerous==2.2.0
aiosignal==1.3.2
protobuf==5.29.4
nvidia-cuda-runtime-cu12==12.6.77
Pygments==2.19.1
nvidia-cublas-cu12==12.6.4.1
GitPython==3.1.44
google-api-core==2.24.2
pyasn1_modules==0.4.2
scipy==1.15.2
tqdm==4.67.1
python-multipart==0.0.20
pypesq==1.2.4
f5-tts==0.3.1
mdurl==0.1.2
pytz==2025.1
tqdm==4.66.4
gast==0.4.0
protobuf==4.25.5
platformdirs==4.3.6
decorator==5.1.1
ml-dtypes==0.4.1
parso==0.8.4
traitlets==5.14.3
einops==0.8.0
pyasn1==0.6.1
jsonschema-specifications==2023.12.1
torchmetrics==1.4.0.post0
tensorboard==2.13.0
nbformat==5.10.4
attrs==23.2.0
isodate==0.6.1
annotated-types==0.7.0
jsonschema==4.22.0
google-auth==2.35.0
python-dateutil==2.9.0
python-dateutil==2.9.0.post0
importlib_metadata==8.5.0
torch==1.12.0+cu113
rfc3986==1.5.0
mkl-random==1.2.4
PyYAML==6.0.1
six==1.16.0
more-itertools==10.2.0
Unidecode==1.3.8
pillow==10.3.0
rdflib==7.0.0
tensorboard-data-server==0.7.2
jedi==0.19.1
roman==4.2
narwhals==1.40.0
scipy==1.13.0
wandb==0.19.7
rsa==4.9
cycler==0.12.1
matplotlib==3.9.0
pycparser==2.22
typing_extensions==4.12.2
langid==1.1.6
bibtexparser==2.0.0b7
Babel==2.15.0
inflect==7.2.1
astunparse==1.6.3
encodec==0.1.1
psutil==6.1.0
cn2an==0.5.22
rich==13.7.1
cachetools==5.5.0
jupyter_client==8.6.3
Werkzeug==3.0.3
toml==0.10.2
pyparsing==3.1.2
threadpoolctl==3.5.0
wrapt==1.16.0
csvw==3.3.0
mkl-service==2.4.0
numpy==1.24.3
google-pasta==0.2.0
ipython==8.29.0
comm==0.2.2
pydantic==2.10.6
tensorflow-estimator==2.13.0
espeak_phonemizer==1.3.1
plotly==6.1.0
wcwidth==0.2.13
typer==0.12.3
joblib==1.4.2
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==2.0.4
nest_asyncio==1.6.0
wheel==0.43.0
tzdata==2025.1
jupyter_core==5.7.2
lxml==5.2.2
opt_einsum==3.4.0
asttokens==2.4.1
keras==2.13.1
grpcio==1.63.0
proces==0.1.7
pylatexenc==2.10
matplotlib-inline==0.1.7
MarkupSafe==2.1.5
soundfile==0.12.1
Pygments==2.18.0
pip==24.0
idna==3.7
phonemizer==3.2.1
fastjsonschema==2.21.1
tokenizers==0.19.1
setproctitle==1.3.5
segments==2.2.1
seaborn==0.13.2
namex==0.0.8
click==8.1.7
exceptiongroup==1.2.2
oauthlib==3.2.2
huggingface-hub==0.23.0
regex==2024.5.15
lightning-utilities==0.11.2
docker-pycreds==0.4.0
ipykernel==6.29.5
gitdb==4.0.12
tensorflow-io-gcs-filesystem==0.37.1
Brotli==1.0.9
termcolor==2.5.0
torchaudio==0.12.0+cu113
pexpect==4.9.0
libclang==18.1.1
scikit-learn==1.5.2
sentry-sdk==2.22.0
pure_eval==0.2.3
py-espeak-ng==0.1.8
smmap==5.0.2
absl-py==2.1.0
fonttools==4.51.0
executing==2.1.0
urllib3==2.2.1
pyzmq==26.2.0
jieba==0.42.1
flatbuffers==24.3.25
vocos==0.1.0
rpds-py==0.18.1
markdown-it-py==3.0.0
requests==2.31.0
tabulate==0.9.0
tornado==6.4.1
packaging==24.1
packaging==24.0
filelock==3.14.0
tensorflow-addons==0.23.0
setuptools==69.5.1
google-auth-oauthlib==1.0.0
Markdown==3.6
indic-transliteration==2.3.59
tensorflow==2.13.0
PySocks==1.7.1
debugpy==1.8.8
kiwisolver==1.4.5
backports.functools-lru-cache==2.0.0
h5py==3.11.0
dlinfo==1.2.1
pathlib==1.0.1
ptyprocess==0.7.0
clldutils==3.22.2
optree==0.13.0
torchvision==0.13.0+cu113
mkl-fft==1.3.8
requests-oauthlib==2.0.0
fsspec==2024.5.0
wget==3.2
stack-data==0.6.2
prompt_toolkit==3.0.48
pandas==2.2.3
shellingham==1.5.4
colorlog==6.8.2
contourpy==1.2.1
colorama==0.4.6
pydantic_core==2.27.2
pickleshare==0.7.5
uritemplate==4.1.1
pyasn1_modules==0.4.1
GitPython==3.1.44
zipp==3.20.2
language-tags==1.2.0
typeguard==2.13.3
referencing==0.35.1
ahoproc_tools==1.0.0
